.columns-with-sortarrows input{
    width: 10px;
}

#homebutton{
    margin-top: -6px;
}

#searchProduct {
    width:294px;
}

/*
.table>thead>tr>th {
    vertical-align: middle;
}
*/

.headings {
    text-align:center;
}

.imgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    
}

img{
    border-radius: 50%;
}

#logo-background {
    padding: 25px;
    background: rgb(130, 209, 219);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom:2px solid black; 
}

#logo-description {
    text-align:center;
    font-size:x-large;
}


.menuButtons{
    background-color: rgb(130, 209, 219); 
    padding-top: 11px;
    padding-bottom: 11px;
    
}

.category{
    color:black;
}

#category-choose {
    margin-bottom: 25px ;
    margin-top: 25px ;
}

.category-description{
    color: darkslategrey;
    width: 250px;
    height: 75px
}

.category-icons svg {
    color: whitesmoke;
    width:175px; 
    height:175px; 
    fill:currentColor;
}

#nav {
    text-align: center;
}

#initialList {
    list-style: none;
    display: inline-block;
}

.buttonList {
    float: left;
    margin: 0 20px;
}

.tablething input{
    width: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

